<a class="nav-link active" href="{% url 'index' %}"><i class="bi bi-speedometer2"></i> Dashboard</a>
<a class="nav-link" href="{% url 'customer' %}"><i class="bi bi-people"></i> Customers</a>
<a class="nav-link" href="{% url 'merchant' %}"><i class="bi bi-box-seam"></i> Merchant</a>
<a class="nav-link" href="{% url 'merchant' %}"><i class="bi bi-box-seam"></i> Products</a>
<a class="nav-link" href="{% url 'merchant' %}"><i class="bi bi-box-seam"></i> Invoice</a>
<!-- <a class="nav-link" href="expenses.html"><i class="bi bi-receipt"></i> Expenses</a> -->
<a class="nav-link" data-bs-toggle="collapse" href="#salesMenu" role="button" aria-expanded="false"
    aria-controls="salesMenu"><i class="bi bi-graph-up"></i> Payments</a>
<div class="collapse ps-4" id="salesMenu">
    <a class="nav-link" href="quotes.html">Investment</a>
    <a class="nav-link" href="quotes.html">Withdrawal</a>
    <a class="nav-link" href="quotes.html">Expenses</a>
</div>
<a class="nav-link" href="reports.html"><i class="bi bi-bar-chart-line"></i> Reports</a>

<!-- <a class="nav-link" data-bs-toggle="collapse" href="#salesMenu" role="button" aria-expanded="false" aria-controls="salesMenu"><i class="bi bi-graph-up"></i> Sales</a>
<div class="collapse ps-4" id="salesMenu">
<a class="nav-link" href="quotes.html">Quotes</a>
</div>
<a class="nav-link" href="#"><i class="bi bi-cart4"></i> Purchases</a>
<a class="nav-link" href="payments-received.html"><i class="bi bi-credit-card"></i> Payments</a>

<a class="nav-link" href="#"><i class="bi bi-cash-stack"></i> Cash & Banking</a> -->
